<h1 id="title">Tutoring Center</h1>

<form id="form">
    <fieldset>
        <legend>View Table</legend>

            <p>Database:</p>
            <p style="text-indent:40px">
                <label>
                    <input type="radio" name="db" value="classes" id="classes" checked>Classes
                </label>


            <p style="text-indent:40px">
                <label>
                    <input type="radio" name = "db" value="teachers" id="teachers">Teachers
                </label>
            </p>

            <p style="text-indent:40px">
                <label>
                    <input type="radio" name= "db" value="students" id="students">Students
                </label>
            </p>

            <p style="text-indent:40px">
                <label>
                    <input type="radio" name= "db" value="classrooms" id="classrooms">Classrooms
                </label>
            </p>

            <p>
                <input type="submit" id="submitted">
            </p>
    </fieldset>
</form>

<script src="/clientHome.js"> </script>
