<h1>Students</h1>


<form method="post">
    <fieldset>
        <legend>Add Student</legend>
        <p><label for="fname">First Name:
            <input type="text" name="fname" size="30" maxlength="100" id="fname">
        </label></p>

        <p><label for="fname">Last Name:
            <input type="text" name="lname" size="30" maxlength="100" id="lname">
        </label></p>

        <!--<p><label for="Grade">Grade:-->
            <!--<input type="number" name="grade" id="grade">-->
        <!--</label></p>-->

        <p>
            <label>Grade</label>
            <select name='grade' id='grade'>
                <option value=4>4</option>
                <option value=5>5</option>
                <option value=6>6</option>
                <option value=7>7</option>
                <option value=8>8</option>
                <option value=9>9</option>
                <option value=10>10</option>
                <option value=11>11</option>
                <option value=12>12</option>
            </select>
        </p>


        <p>
            <input type="submit" id="submitted">
        </p>

        <script src="/clientStudents.js"> </script>