<h1>Students</h1>


<form method="post">
    <fieldset>
        <legend>Add Student</legend>
        <p><label for="fname">First Name:
            <input type="text" name="fname" size="30" maxlength="100" id="fname">
        </label></p>

        <p><label for="fname">Last Name:
            <input type="text" name="lname" size="30" maxlength="100" id="lname">
        </label></p>

        <p><label for="Grade">Grade:
            <input type="number" name="grade" id="grade">
        </label></p>


        <p>
            <input type="submit" id="submitted">
        </p>

        <script src="/clientStudents.js"> </script>