<h1>Teachers</h1>


<form method="post">
    <fieldset>
        <legend>Add Teacher</legend>
        <p><label for="fname">First Name:
            <input type="text" name="fname" size="30" maxlength="100" id="fname">
        </label></p>

        <p><label for="fname">Last Name:
            <input type="text" name="lname" size="30" maxlength="100" id="lname">
        </label></p>

        <p>
            <input type="submit" id="submitted">
        </p>
    </fieldset>
</form>

<script src="/clientTeachers.js"> </script>