<h1>Teachers</h1>


<form method="post">
    <fieldset>
        <legend>Edit Teacher</legend>
        <p><label for="fname">First Name:
            <input type="text" name="fname" size="30" maxlength="100" id="fname" value={{fname}}>
        </label></p>

        <p><label for="fname">Last Name:
            <input type="text" name="lname" size="30" maxlength="100" id="lname" value={{lname}}>
        </label></p>

        <input type="hidden" value={{id}} id="id">

        <p>
            <input type="submit" id="submitted">
        </p>
    </fieldset>
</form>

<script src="/clientTeachersEdit.js"> </script>